pcss-criminal-model/src/main/resources/xsdSchemas/pcss-2.xsd

<xsd:schema xmlns:pcss="http://courts.gov.bc.ca/XMLSchema/PCSS/1.0.0" targetNamespace="http://courts.gov.bc.ca/xml/ns/pcss/criminal/v1" xmlns:tns="http://courts.gov.bc.ca/xml/ns/pcss/criminal/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="getPing">
        <xsd:complexType>
            <xsd:sequence></xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="getPingResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="status" nillable="true" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="getHealth">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="getHealthResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="appid" nillable="true" type="xsd:string"/>
                <xsd:element name="method" nillable="true" type="xsd:string"/>
                <xsd:element name="status" nillable="true" type="xsd:string"/>
                <xsd:element name="host" nillable="true" type="xsd:string"/>
                <xsd:element name="instance" nillable="true" type="xsd:string"/>
                <xsd:element name="version" nillable="true" type="xsd:string"/>
                <xsd:element name="compatibility" nillable="true" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="getMergedData">
        <xsd:complexType >
            <xsd:sequence>
                <xsd:element name="getMergedDataRequest" nillable="true" type="tns:getMergedDataRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="getMergedDataRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:getMergedDataRequest"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getMergedDataResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getMergedDataResponse" nillable="true" type="tns:getMergedDataResponse2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="getMergedDataResponse2">
        <xsd:sequence>
            <xsd:element ref="pcss:getMergedDataResponse"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getFileAccess">
        <xsd:complexType >
            <xsd:sequence>
                <xsd:element name="getFileAccessRequest" nillable="true" type="tns:getFileAccessRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="getFileAccessRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:getFileAccessRequest"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getFileAccessResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getFileAccessResponse" nillable="true" type="tns:getFileAccessResponse2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="getFileAccessResponse2">
        <xsd:sequence>
            <xsd:element ref="pcss:getFileAccessResponse"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getAppearanceCriminalApprMethod">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getAppearanceCriminalApprMethodRequest" nillable="true" type="tns:getAppearanceCriminalApprMethodRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="getAppearanceCriminalApprMethodRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:getAppearanceCriminalApprMethodRequest"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getAppearanceCriminalApprMethodResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getAppearanceCriminalApprMethodResponse" nillable="true" type="tns:getAppearanceCriminalApprMethodResponse2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="getAppearanceCriminalApprMethodResponse2">
        <xsd:sequence>
            <xsd:element ref="pcss:getAppearanceCriminalApprMethodResponse"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getAppearanceCriminalCount">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getAppearanceCriminalCountRequest" nillable="true" type="tns:getAppearanceCriminalCountRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="getAppearanceCriminalCountRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:getAppearanceCriminalCountRequest"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getAppearanceCriminalCountResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getAppearanceCriminalCountResponse" nillable="true" type="tns:getAppearanceCriminalCountResponse2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="getAppearanceCriminalCountResponse2">
        <xsd:sequence>
            <xsd:element ref="pcss:getAppearanceCriminalCountResponse"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getAppearanceCriminalResource">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getAppearanceCriminalResourceRequest" nillable="true" type="tns:getAppearanceCriminalResourceRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="getAppearanceCriminalResourceRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:getAppearanceCriminalResourceRequest"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getAppearanceCriminalResourceResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getAppearanceCriminalResourceResponse" nillable="true" type="tns:getAppearanceCriminalResourceResponse2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="getAppearanceCriminalResourceResponse2">
        <xsd:sequence>
            <xsd:element ref="pcss:getAppearanceCriminalResourceResponse"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getPersonnelAvailability">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getPersonnelAvailabilityRequest" nillable="true" type="tns:getPersonnelAvailabilityRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="getPersonnelAvailabilityRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:getPersonnelAvailabilityRequest"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getPersonnelAvailabilityResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getPersonnelAvailabilityResponse" nillable="true" type="tns:getPersonnelAvailabilityResponse2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="getPersonnelAvailabilityResponse2">
        <xsd:sequence>
            <xsd:element ref="pcss:getPersonnelAvailabilityResponse"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getPersonnelAvailDetail">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getPersonnelAvailDetailRequest" nillable="true" type="tns:getPersonnelAvailDetailRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="getPersonnelAvailDetailRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:getPersonnelAvailDetailRequest"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getPersonnelAvailDetailResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getPersonnelAvailDetailResponse" nillable="true" type="tns:getPersonnelAvailDetailResponse2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="getPersonnelAvailDetailResponse2">
        <xsd:sequence>
            <xsd:element ref="pcss:getPersonnelAvailDetailResponse"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getPersonnelSearch">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getPersonnelSearchRequest" nillable="true" type="tns:getPersonnelSearchRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="getPersonnelSearchRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:getPersonnelSearchRequest"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getPersonnelSearchResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getPersonnelSearchResponse" nillable="true" type="tns:getPersonnelSearchResponse2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="getPersonnelSearchResponse2">
        <xsd:sequence>
            <xsd:element ref="pcss:getPersonnelSearchResponse"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getSyncCriminalAppearance">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getSyncCriminalAppearanceRequest" nillable="true" type="tns:getSyncCriminalAppearanceRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="getSyncCriminalAppearanceRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:getSyncCriminalAppearanceRequest"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getSyncCriminalAppearanceResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getSyncCriminalAppearanceResponse" nillable="true" type="tns:getSyncCriminalAppearanceResponse2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="getSyncCriminalAppearanceResponse2">
        <xsd:sequence>
            <xsd:element ref="pcss:getSyncCriminalAppearanceResponse"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getSyncCriminalHearingRestriction">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getSyncCriminalHearingRestrictionRequest" nillable="true" type="tns:getSyncCriminalHearingRestrictionRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="getSyncCriminalHearingRestrictionRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:getSyncCriminalHearingRestrictionRequest"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getSyncCriminalHearingRestrictionResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getSyncCriminalHearingRestrictionResponse" nillable="true" type="tns:getSyncCriminalHearingRestrictionResponse2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="getSyncCriminalHearingRestrictionResponse2">
        <xsd:sequence>
            <xsd:element ref="pcss:getSyncCriminalHearingRestrictionResponse"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="setAppearanceCriminal">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="setAppearanceCriminalRequest" nillable="true" type="tns:setAppearanceCriminalRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="setAppearanceCriminalRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:setAppearanceCriminalRequest"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="setAppearanceCriminalResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="setAppearanceCriminalResponse" nillable="true" type="tns:setAppearanceCriminalResponse2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="setAppearanceCriminalResponse2">
        <xsd:sequence>
            <xsd:element ref="pcss:setAppearanceCriminalResponse"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="setAppearanceMethodCriminal">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="setAppearanceMethodCriminalRequest" nillable="true" type="tns:setAppearanceMethodCriminalRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="setAppearanceMethodCriminalRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:setAppearanceMethodCriminalRequest"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="setAppearanceMethodCriminalResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="setAppearanceMethodCriminalResponse" nillable="true" type="tns:setAppearanceMethodCriminalResponse2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="setAppearanceMethodCriminalResponse2">
        <xsd:sequence>
            <xsd:element ref="pcss:setAppearanceMethodCriminalResponse"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="setCounselDetailCriminal">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="setCounselDetailCriminalRequest" nillable="true" type="tns:setCounselDetailCriminalRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="setCounselDetailCriminalRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:setCounselDetailCriminalRequest"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="setCounselDetailCriminalResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="setCounselDetailCriminalResponse" nillable="true" type="tns:setCounselDetailCriminalResponse2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="setCounselDetailCriminalResponse2">
        <xsd:sequence>
            <xsd:element ref="pcss:setCounselDetailCriminalResponse"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="setHearingRestrictionCriminal">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="setHearingRestrictionCriminalRequest" nillable="true" type="tns:setHearingRestrictionCriminalRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="setHearingRestrictionCriminalRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:setHearingRestrictionCriminalRequest"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="setHearingRestrictionCriminalResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="setHearingRestrictionCriminalResponse" nillable="true" type="tns:setHearingRestrictionCriminalResponse2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="setHearingRestrictionCriminalResponse2">
        <xsd:sequence>
            <xsd:element ref="pcss:setHearingRestrictionCriminalResponse"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getCrownAssignment">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getCrownAssignmentRequest" nillable="true" type="tns:getCrownAssignmentRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="getCrownAssignmentRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:getCrownAssignmentRequest"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getCrownAssignmentResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getCrownAssignmentResponse" nillable="true" type="tns:getCrownAssignmentResponse2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="getCrownAssignmentResponse2">
        <xsd:sequence>
            <xsd:element ref="pcss:getCrownAssignmentResponse"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="setCrownFileDetail">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="setCrownFileDetailRequest" nillable="true" type="tns:setCrownFileDetailRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="setCrownFileDetailRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:setCrownFileDetailRequest"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="setCrownFileDetailResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="setCrownFileDetailResponse" nillable="true" type="tns:setCrownFileDetailResponse2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="setCrownFileDetailResponse2">
        <xsd:sequence>
            <xsd:element ref="pcss:setCrownFileDetailResponse"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="setCrownAssignment">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="setCrownAssignmentRequest" nillable="true" type="tns:setCrownAssignmentRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="setCrownAssignmentRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:setCrownAssignmentRequest"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="setCrownAssignmentResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="setCrownAssignmentResponse" nillable="true" type="tns:setCrownAssignmentResponse2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="setCrownAssignmentResponse2">
        <xsd:sequence>
            <xsd:element ref="pcss:setCrownAssignmentResponse"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="setFileNote">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="setFileNoteRequest" nillable="true" type="tns:setFileNoteRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="setFileNoteRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:setFileNoteRequest"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="setFileNoteResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="setFileNoteResponse" nillable="true" type="tns:setFileNoteResponse2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="setFileNoteResponse2">
        <xsd:sequence>
            <xsd:element ref="pcss:setFileNoteResponse"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="setFilesNote">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="setFilesNoteRequest" nillable="true" type="tns:setFilesNoteRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="setFilesNoteRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:setFilesNoteRequest"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="setFilesNoteResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="setFilesNoteResponse" nillable="true" type="tns:setFilesNoteResponse2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="setFilesNoteResponse2">
        <xsd:sequence>
            <xsd:element ref="pcss:setFilesNoteResponse"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getAppearanceCriminal">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getAppearanceCriminalRequest" nillable="true" type="tns:getAppearanceCriminalRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="getAppearanceCriminalRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:getAppearanceCriminalRequest"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getAppearanceCriminalResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getAppearanceCriminalResponse" nillable="true" type="tns:getAppearanceCriminalResponse2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="getAppearanceCriminalResponse2">
        <xsd:sequence>
            <xsd:element ref="pcss:getAppearanceCriminalResponse"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getFileDetailCriminal">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getFileDetailCriminalRequest" nillable="true" type="tns:getFileDetailCriminalRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="getFileDetailCriminalRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:getFileDetailCriminalRequest"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getFileDetailCriminalResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getFileDetailCriminalResponse" nillable="true" type="tns:getFileDetailCriminalResponse2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="getFileDetailCriminalResponse2">
        <xsd:sequence>
            <xsd:element ref="pcss:getFileDetailCriminalResponse"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getClosedFile">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getClosedFileRequest" nillable="true" type="tns:getClosedFileRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="getClosedFileRequest">
        <xsd:sequence>
            <xsd:element ref="pcss:getClosedFileRequest"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getClosedFileResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="getClosedFileResponce" nillable="true" type="tns:getClosedFileResponce"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="getClosedFileResponce">
        <xsd:sequence>
            <xsd:element ref="pcss:getClosedFileResponse"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
