pcss-criminal-model/src/main/resources/xsdSchemas/pcss-1.xsd

<xsd:schema xmlns:dx="http://courts.gov.bc.ca/XMLSchema/PCSS/common/1.0.0"
            xmlns:pcss="http://courts.gov.bc.ca/XMLSchema/PCSS/1.0.0"
            targetNamespace="http://courts.gov.bc.ca/XMLSchema/PCSS/1.0.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="getMergedParticipantsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element form="qualified" name="FromDate" type="xsd:string"/>
                <xsd:element form="qualified" minOccurs="0" name="ToDate" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getMergedParticipantsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element form="qualified" name="ResponseCd" type="xsd:string"/>
                <xsd:element form="qualified" minOccurs="0" name="ResponseMessageTxt" type="xsd:string"/>
                <xsd:element form="qualified" minOccurs="0" maxOccurs="unbounded" name="MergedParticipants" type="pcss:MergedParticipantsType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="MergedParticipantsType">
        <xsd:sequence>
            <xsd:element name="part_id" minOccurs="1" maxOccurs="1" type="dx:SystemIdType"/>
            <xsd:element name="merged_with_part_id" type="dx:SystemIdType"/>
            <xsd:element name="mrge_ent_dt" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="getFileAccessRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="RequestAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
                <xsd:element name="RequestPartId" type="dx:SystemIdType"/>
                <xsd:element name="RequestDtm" type="dx:DateTimeType"/>
                <xsd:element minOccurs="0" name="ApplicationCd" type="xsd:string"/>
                <xsd:element minOccurs="1" maxOccurs="unbounded" name="JustinNo" type="dx:JustinNoType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getFileAccessResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ResponseCd" type="xsd:string"/>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="FileAccess" type="pcss:JustinFileAccess"/>
                <xsd:element minOccurs="0" name="ResponseMessageTxt" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="JustinFileAccess">
        <xsd:sequence>
            <xsd:element name="JustinNo" minOccurs="1" maxOccurs="1" type="dx:JustinNoType"/>
            <xsd:element name="AccessCd" type="dx:JustinFileAccessType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="getAppearanceCriminalApprMethodRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element form="qualified" name="RequestAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
                <xsd:element form="qualified" name="RequestPartId" type="dx:SystemIdType"/>
                <xsd:element form="qualified" name="RequestDtm" type="dx:DateTimeType"/>
                <xsd:element form="qualified" name="AppearanceId" type="dx:SystemIdType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getAppearanceCriminalApprMethodResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element form="qualified" name="ResponseCd" type="xsd:string"/>
                <xsd:element form="qualified" minOccurs="0" name="ResponseMessageTxt" type="xsd:string"/>
                <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="AppearanceMethod" type="pcss:AppearanceMethod"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="AppearanceMethod">
        <xsd:sequence>
            <xsd:element form="qualified" name="AssetUsageSeqNo" type="xsd:string"/>
            <xsd:element form="qualified" name="RoleTypeCd" type="dx:ParticipantRoleType"/>
            <xsd:element form="qualified" minOccurs="0" name="AppearanceMethodCd" type="dx:AssetType"/>
            <xsd:element form="qualified" minOccurs="0" name="PhoneNumberTxt" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="InstructionTxt" type="xsd:string"/>
            <xsd:element form="qualified" name="ApprMethodCcn" type="dx:ConcurrencyControlType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="getAppearanceCriminalCountRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element form="qualified" name="RequestAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
                <xsd:element form="qualified" name="RequestPartId" type="xsd:string"/>
                <xsd:element form="qualified" name="RequestDtm" type="dx:DateTimeType"/>
                <xsd:element form="qualified" name="AppearanceId" type="dx:SystemIdType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getAppearanceCriminalCountResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element form="qualified" name="ResponseCd" type="xsd:string"/>
                <xsd:element form="qualified" minOccurs="0" name="ResponseMessageTxt" type="xsd:string"/>
                <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="ApprCount" type="pcss:ApprCount"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="ApprCount">
        <xsd:sequence>
            <xsd:element form="qualified" name="PrintSeqNo" type="xsd:string"/>
            <xsd:element form="qualified" name="StatuteSectionDsc" type="xsd:string"/>
            <xsd:element form="qualified" name="StatuteDsc" type="xsd:string"/>
            <xsd:element form="qualified" name="AppearanceReasonCd" type="dx:AppearanceReasonCriminalType"/>
            <xsd:element form="qualified" minOccurs="0" name="AppearanceResultCd" type="dx:AppearanceResultCriminalType"/>
            <xsd:element form="qualified" minOccurs="0" name="FindingCd" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="getAppearanceCriminalResourceRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element form="qualified" name="RequestAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
                <xsd:element form="qualified" name="RequestPartId" type="xsd:string"/>
                <xsd:element form="qualified" name="RequestDtm" type="dx:DateTimeType"/>
                <xsd:element form="qualified" name="AppearanceId" type="dx:SystemIdType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getAppearanceCriminalResourceResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element form="qualified" name="ResponseCd" type="xsd:string"/>
                <xsd:element form="qualified" minOccurs="0" name="ResponseMessageTxt" type="xsd:string"/>
                <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Resource" type="pcss:Resource"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="Resource">
        <xsd:sequence>
            <xsd:element form="qualified" name="BookingId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="BookingSeqNo" type="dx:SystemSeqNoType"/>
            <xsd:element form="qualified" name="AssetTypeCd" type="dx:AssetType"/>
            <xsd:element form="qualified" name="AssetUsageRuleCd" type="dx:AssetUsageRuleType"/>
            <xsd:element form="qualified" minOccurs="0" name="BookedForRoleCd" type="dx:ParticipantRoleType"/>
            <xsd:element form="qualified" name="CourtAgencyId" type="dx:AgencyIdentifierType"/>
            <xsd:element form="qualified" name="CourtRoomCd" type="dx:CourtRoomCdType"/>
            <xsd:element form="qualified" name="ResourceNm" type="xsd:string"/>
            <xsd:element form="qualified" name="ResourceId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="BookedDt" type="dx:DateType"/>
            <xsd:element form="qualified" name="BookedFromTm" type="dx:TimeType"/>
            <xsd:element form="qualified" name="BookedToTm" type="dx:TimeType"/>
            <xsd:element form="qualified" name="BookedByNm" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="BookingCommentTxt" type="xsd:string"/>
            <xsd:element form="qualified" name="BookingCcn" type="dx:ConcurrencyControlType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="getPersonnelAvailabilityRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element form="qualified" name="RequestAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
                <xsd:element form="qualified" name="RequestPartId" type="dx:SystemIdType"/>
                <xsd:element form="qualified" name="RequestDtm" type="dx:DateTimeType"/>
                <xsd:element form="qualified" name="FromDt" type="dx:DateType"/>
                <xsd:element form="qualified" name="ToDt" type="dx:DateType"/>
                <xsd:element form="qualified" name="PersonTypeCd" type="dx:AvailablePersonType"/>
                <xsd:element form="qualified" name="PartIdList" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getPersonnelAvailabilityResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element form="qualified" name="ResponseCd" type="xsd:string"/>
                <xsd:element form="qualified" minOccurs="0" name="ResponseMessageTxt" type="xsd:string"/>
                <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Personnel" type="pcss:Personnel"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="Personnel">
        <xsd:sequence>
            <xsd:element form="qualified" name="PersonTypeCd" type="dx:AvailablePersonType"/>
            <xsd:element form="qualified" name="PartId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" minOccurs="0" name="FullNm" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="PinCodeTxt" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="AgencyId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="AvailabilityDt" type="dx:DateType"/>
            <xsd:element form="qualified" name="AvailabilityCd" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="AvailabilityWeightFactorCd" type="dx:WeightFactorType"/>
            <xsd:element form="qualified" minOccurs="0" name="AvailablityDsc" type="xsd:string"/>
            <xsd:element form="qualified" name="CommitmentCount" type="xsd:string"/>
            <xsd:element form="qualified" name="CommitmentTypeDsc" type="xsd:string"/>
            <xsd:element form="qualified" name="CreatedDt" type="dx:DateType"/>
            <xsd:element form="qualified" name="CourtAgencyId" type="dx:AgencyIdentifierType"/>
            <xsd:element form="qualified" name="CourtRoomCd" type="dx:CourtRoomCdType"/>
            <xsd:element form="qualified" name="CommitmentDt" type="dx:DateType"/>
            <xsd:element form="qualified" name="CommitmentTm" type="dx:TimeType"/>
            <xsd:element form="qualified" minOccurs="0" name="DurationHour" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="DurationMin" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="CourtFileNo" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="CommitmentTxt" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="getPersonnelAvailDetailRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element form="qualified" name="RequestAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
                <xsd:element form="qualified" name="RequestPartId" type="dx:SystemIdType"/>
                <xsd:element form="qualified" name="RequestDtm" type="dx:DateTimeType"/>
                <xsd:element form="qualified" name="AvailabilityDt" type="dx:DateType"/>
                <xsd:element form="qualified" name="PersonTypeCd" type="dx:AvailablePersonType"/>
                <xsd:element form="qualified" name="PaasPartId" type="dx:SystemIdType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getPersonnelAvailDetailResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element form="qualified" name="ResponseCd" type="xsd:string"/>
                <xsd:element form="qualified" minOccurs="0" name="ResponseMessageTxt" type="xsd:string"/>
                <xsd:element form="qualified" minOccurs="0" name="DutyDsc" type="xsd:string"/>
                <xsd:element form="qualified" minOccurs="0" name="ShiftLadderDsc" type="xsd:string"/>
                <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Assignment" type="pcss:Assignment"/>
                <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Commitment" type="pcss:Commitment"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="Assignment">
        <xsd:sequence>
            <xsd:element form="qualified" name="AssignmentTypeDsc" type="xsd:string"/>
            <xsd:element form="qualified" name="CreateDt" type="dx:DateType"/>
            <xsd:element form="qualified" name="StartDt" type="dx:DateType"/>
            <xsd:element form="qualified" minOccurs="0" name="EndDt" type="dx:DateType"/>
            <xsd:element form="qualified" name="PoliceAgencyDsc" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Commitment">
        <xsd:sequence>
            <xsd:element form="qualified" name="CommitmentTypeDsc" type="xsd:string"/>
            <xsd:element form="qualified" name="CreatedDt" type="dx:DateType"/>
            <xsd:element form="qualified" name="CourtAgencyId" type="dx:AgencyIdentifierType"/>
            <xsd:element form="qualified" name="CourtRoomCd" type="dx:CourtRoomCdType"/>
            <xsd:element form="qualified" name="CommitmentDt" type="dx:DateType"/>
            <xsd:element form="qualified" name="CommitmentTm" type="dx:TimeType"/>
            <xsd:element form="qualified" minOccurs="0" name="DurationHour" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="DurationMin" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="CourtFileNo" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="CommitmentTxt" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="getPersonnelSearchRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element form="qualified" name="RequestAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
                <xsd:element form="qualified" name="RequestPartId" type="dx:SystemIdType"/>
                <xsd:element form="qualified" name="RequestDtm" type="dx:DateTimeType"/>
                <xsd:element form="qualified" name="SearchTypeCd" type="dx:OfficerSearchType"/>
                <xsd:element form="qualified" name="SearchTxt" type="xsd:string"/>
                <xsd:element form="qualified" name="AgencyId" type="dx:AgencyIdentifierType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getPersonnelSearchResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element form="qualified" name="ResponseCd" type="xsd:string"/>
                <xsd:element form="qualified" minOccurs="0" name="ResponseMessageTxt" type="xsd:string"/>
                <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Personnel" type="pcss:Personnel2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="Personnel2">
        <xsd:sequence>
            <xsd:element form="qualified" name="LastNm" type="xsd:string"/>
            <xsd:element form="qualified" name="FirstNm" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="PinTxt" type="dx:PolicePinType"/>
            <xsd:element form="qualified" name="PartId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" minOccurs="0" name="AgencyId" type="dx:SystemIdType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="getSyncCriminalAppearanceRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element form="qualified" name="RequestAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
                <xsd:element form="qualified" name="RequestPartId" type="dx:SystemIdType"/>
                <xsd:element form="qualified" name="RequestDtm" type="dx:DateTimeType"/>
                <xsd:element form="qualified" name="ProcessUpToDtm" type="dx:DateTimeType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getSyncCriminalAppearanceResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element form="qualified" name="ResponseCd" type="xsd:string"/>
                <xsd:element form="qualified" minOccurs="0" name="ResponseMessageTxt" type="xsd:string"/>
                <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Appearance" type="pcss:Appearance"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="Appearance">
        <xsd:sequence>
            <xsd:element form="qualified" name="OperationModeCd" type="xsd:string"/>
            <xsd:element form="qualified" name="TransactionDtm" type="dx:DateTimeType"/>
            <xsd:element form="qualified" name="ApprId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" minOccurs="0" name="AppearanceDt" type="dx:DateType"/>
            <xsd:element form="qualified" minOccurs="0" name="AppearanceTm" type="dx:TimeType"/>
            <xsd:element form="qualified" minOccurs="0" name="AppearanceReasonCd" type="dx:AppearanceReasonCriminalType"/>
            <xsd:element form="qualified" minOccurs="0" name="EstimatedDurationHour" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="EstimatedDurationMin" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="CourtAgencyId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" minOccurs="0" name="CourtRoomCd" type="dx:CourtRoomCdType"/>
            <xsd:element form="qualified" minOccurs="0" name="ConfirmedYN" type="dx:YesNoType"/>
            <xsd:element form="qualified" minOccurs="0" name="CancelledYN" type="dx:YesNoType"/>
            <xsd:element form="qualified" minOccurs="0" name="JustinNo" type="dx:JustinNoType"/>
            <xsd:element form="qualified" minOccurs="0" name="ProfPartId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" minOccurs="0" name="ProfSeqNo" type="dx:SystemSeqNoType"/>
            <xsd:element form="qualified" minOccurs="0" name="PartOfTrialYn" type="dx:YesNoType"/>
            <xsd:element form="qualified" minOccurs="0" name="FileNumberTxt" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="CourtLevelCd" type="dx:CourtLevelType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="getSyncCriminalHearingRestrictionRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element form="qualified" name="RequestAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
                <xsd:element form="qualified" name="RequestPartId" type="dx:SystemIdType"/>
                <xsd:element form="qualified" name="RequestDtm" type="dx:DateTimeType"/>
                <xsd:element form="qualified" name="ProcessUpToDtm" type="dx:DateTimeType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getSyncCriminalHearingRestrictionResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element form="qualified" name="ResponseCd" type="xsd:string"/>
                <xsd:element form="qualified" minOccurs="0" name="ResponseMessageTxt" type="xsd:string"/>
                <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="HearingRestriction" type="pcss:HearingRestriction"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="HearingRestriction">
        <xsd:sequence>
            <xsd:element form="qualified" name="OperationModeCd" type="xsd:string"/>
            <xsd:element form="qualified" name="TransactionDtm" type="dx:DateTimeType"/>
            <xsd:element form="qualified" name="HearingRestrictionId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" minOccurs="0" name="AdjudicatorPartId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" minOccurs="0" name="HearingRestrictionCd" type="dx:HearingRestrictionType"/>
            <xsd:element form="qualified" minOccurs="0" name="JustinNo" type="dx:JustinNoType"/>
            <xsd:element form="qualified" minOccurs="0" name="ProfPartId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" minOccurs="0" name="ProfSeqNo" type="dx:SystemSeqNoType"/>
            <xsd:element form="qualified" minOccurs="0" name="AccusedNm" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="HomeLocationAgenId" type="dx:AgencyIdentifierType"/>
            <xsd:element form="qualified" minOccurs="0" name="FileNumberTxt" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="setAppearanceCriminalRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element form="qualified" name="RequestAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
                <xsd:element form="qualified" name="RequestPartId" type="dx:SystemIdType"/>
                <xsd:element form="qualified" name="RequestDtm" type="dx:DateTimeType"/>
                <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Detail" type="pcss:Detail"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="Detail">
        <xsd:sequence>
            <xsd:element form="qualified" name="PcssAppearanceId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="JustinNo" type="dx:JustinNoType"/>
            <xsd:element form="qualified" name="PartId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="ProfSeqNo" type="dx:SystemSeqNoType"/>
            <xsd:element form="qualified" name="AppearanceDt" type="dx:DateType"/>
            <xsd:element form="qualified" name="AppearanceTm" type="dx:TimeType"/>
            <xsd:element form="qualified" name="AppearanceReasonCd" type="dx:AppearanceReasonCriminalType"/>
            <xsd:element form="qualified" name="CourtAgencyId" type="dx:AgencyIdentifierType"/>
            <xsd:element form="qualified" name="CourtRoomCd" type="dx:CourtRoomCdType"/>
            <xsd:element form="qualified" minOccurs="0" name="EstimatedTimeHour" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="EstimatedTimeMin" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="SupplementalEquipmentTxt" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="SecurityRestrictionTxt" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="OutOfTownJudgeTxt" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="setAppearanceCriminalResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element form="qualified" name="ResponseCd" type="xsd:string"/>
                <xsd:element form="qualified" minOccurs="0" name="ResponseMessageTxt" type="xsd:string"/>
                <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Detail" type="pcss:Detail2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="Detail2">
        <xsd:sequence>
            <xsd:element form="qualified" name="PcssAppearanceId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="ApprId" type="xsd:string"/>
            <xsd:element form="qualified" name="ApprCcn" type="dx:ConcurrencyControlType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="setAppearanceMethodCriminalRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element form="qualified" name="RequestAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
                <xsd:element form="qualified" name="RequestPartId" type="dx:SystemIdType"/>
                <xsd:element form="qualified" name="RequestDtm" type="dx:DateTimeType"/>
                <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Detail" type="pcss:Detail3"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="Detail3">
        <xsd:sequence>
            <xsd:element form="qualified" name="OperationModeCd" type="xsd:string"/>
            <xsd:element form="qualified" name="ApprId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" minOccurs="0" name="AssetUsageSeqNo" type="dx:SystemSeqNoType"/>
            <xsd:element form="qualified" minOccurs="0" name="RoleCd" type="dx:ParticipantRoleType"/>
            <xsd:element form="qualified" minOccurs="0" name="AppearanceMethodCd" type="dx:AssetType"/>
            <xsd:element form="qualified" minOccurs="0" name="PhoneNoTxt" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="InstructionTxt" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="ApprMethodCcn" type="dx:ConcurrencyControlType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="setAppearanceMethodCriminalResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element form="qualified" name="ResponseCd" type="xsd:string"/>
                <xsd:element form="qualified" minOccurs="0" name="ResponseMessageTxt" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="setCounselDetailCriminalRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element form="qualified" name="RequestAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
                <xsd:element form="qualified" name="RequestPartId" type="dx:SystemIdType"/>
                <xsd:element form="qualified" name="RequestDtm" type="dx:DateTimeType"/>
                <xsd:element form="qualified" name="ProfPartId" type="dx:SystemIdType"/>
                <xsd:element form="qualified" name="ProfSeqNo" type="dx:SystemSeqNoType"/>
                <xsd:element form="qualified" maxOccurs="unbounded" name="Detail" type="pcss:Detail4"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="Detail4">
        <xsd:sequence>
            <xsd:element form="qualified" name="OperationModeCd" type="dx:OperationMode2Type"/>
            <xsd:element form="qualified" name="CounselLastNm" type="xsd:string"/>
            <xsd:element form="qualified" name="CounselFirstNm" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="OfficePhoneNoTxt" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="CellPhoneNoTxt" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="EmailAddressTxt" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="OtherDeviceTxt" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="setCounselDetailCriminalResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element form="qualified" name="ResponseCd" type="xsd:string"/>
                <xsd:element form="qualified" minOccurs="0" name="ResponseMessageTxt" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="setHearingRestrictionCriminalRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element form="qualified" name="RequestAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
                <xsd:element form="qualified" name="RequestPartId" type="dx:SystemIdType"/>
                <xsd:element form="qualified" name="RequestDtm" type="dx:DateTimeType"/>
                <xsd:element form="qualified" name="OperationModeCd" type="xsd:string"/>
                <xsd:element form="qualified" minOccurs="0" name="HearingRestrictionId" type="dx:SystemIdType"/>
                <xsd:element form="qualified" minOccurs="0" name="AdjudicatorPartId" type="dx:SystemIdType"/>
                <xsd:element form="qualified" minOccurs="0" name="HearingRestrictionCd" type="dx:HearingRestrictionType"/>
                <xsd:element form="qualified" minOccurs="0" name="JustinNo" type="dx:JustinNoType"/>
                <xsd:element form="qualified" minOccurs="0" name="PartId" type="dx:SystemIdType"/>
                <xsd:element form="qualified" minOccurs="0" name="ProfSeqNo" type="dx:SystemSeqNoType"/>
                <xsd:element form="qualified" minOccurs="0" name="HearingRestrictionCcn" type="dx:ConcurrencyControlType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="setHearingRestrictionCriminalResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element form="qualified" name="ResponseCd" type="xsd:string"/>
                <xsd:element form="qualified" minOccurs="0" name="ResponseMessageTxt" type="xsd:string"/>
                <xsd:element form="qualified" minOccurs="0" name="HearingRestrictionId" type="dx:SystemIdType"/>
                <xsd:element form="qualified" minOccurs="0" name="HearingRestrictionCcn" type="dx:ConcurrencyControlType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getCrownAssignmentRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element form="qualified" name="RequestAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
                <xsd:element form="qualified" name="RequestPartId" type="dx:SystemIdType"/>
                <xsd:element form="qualified" name="RequestDtm" type="dx:DateTimeType"/>
                <xsd:element form="qualified" minOccurs="0" name="JustinNo" type="dx:JustinNoType"/>
                <xsd:element form="qualified" minOccurs="0" name="SinceDt" type="dx:DateType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getCrownAssignmentResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element form="qualified" name="ResponseCd" type="xsd:string"/>
                <xsd:element form="qualified" minOccurs="0" name="ResponseMessageTxt" type="xsd:string"/>
                <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="CrownAssignment" type="pcss:CrownAssignment"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="CrownAssignment">
        <xsd:sequence>
            <xsd:element form="qualified" name="WorkAssignmentId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="JustinNo" type="dx:JustinNoType"/>
            <xsd:element form="qualified" name="PaasAgencyId" type="dx:AgencyIdentifierType"/>
            <xsd:element form="qualified" name="PaasPartId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="PaasSeqNo" type="dx:SystemSeqNoType"/>
            <xsd:element form="qualified" name="PartNm" type="xsd:string"/>
            <xsd:element form="qualified" name="AssigningPaasAgencyId" type="dx:AgencyIdentifierType"/>
            <xsd:element form="qualified" name="AssigningPaasPartId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="AssigningPaasSeqNo" type="dx:SystemSeqNoType"/>
            <xsd:element form="qualified" name="AssigningPartNm" type="xsd:string"/>
            <xsd:element form="qualified" name="AssignmentCd" type="xsd:string"/>
            <xsd:element form="qualified" name="AssignmentDt" type="dx:DateType"/>
            <xsd:element form="qualified" minOccurs="0" name="AssignmentEndDt" type="dx:DateType"/>
            <xsd:element form="qualified" name="WorkAssignmentCcn" type="dx:ConcurrencyControlType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="setCrownFileDetailRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element form="qualified" name="RequestAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
                <xsd:element form="qualified" name="RequestPartId" type="dx:SystemIdType"/>
                <xsd:element form="qualified" name="RequestDtm" type="dx:DateTimeType"/>
                <xsd:element form="qualified" name="JustinNo" type="dx:JustinNoType"/>
                <xsd:element form="qualified" minOccurs="0" name="CrownEstimateLenQty" type="xsd:string"/>
                <xsd:element form="qualified" minOccurs="0" name="CrownEstimateLenUnit" type="dx:AppearanceDurationType"/>
                <xsd:element form="qualified" minOccurs="0" name="FileDesignationCd" type="dx:FileComplexityType"/>
                <xsd:element form="qualified" name="MdocCcn" type="dx:ConcurrencyControlType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="setCrownFileDetailResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element form="qualified" name="ResponseCd" type="xsd:string"/>
                <xsd:element form="qualified" minOccurs="0" name="ResponseMessageTxt" type="xsd:string"/>
                <xsd:element form="qualified" minOccurs="0" name="MdocCcn" type="dx:ConcurrencyControlType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="setCrownAssignmentRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element form="qualified" name="RequestAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
                <xsd:element form="qualified" name="RequestPartId" type="dx:SystemIdType"/>
                <xsd:element form="qualified" name="RequestDtm" type="dx:DateTimeType"/>
                <xsd:element form="qualified" name="JustinNo" type="dx:JustinNoType"/>
                <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="CrownAssignment" type="pcss:CrownAssignment2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="CrownAssignment2">
        <xsd:sequence>
            <xsd:element form="qualified" name="OperationModeCd" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="WorkAssignmentId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" minOccurs="0" name="PaasAgencyId" type="dx:AgencyIdentifierType"/>
            <xsd:element form="qualified" minOccurs="0" name="PaasPartId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" minOccurs="0" name="PaasSeqNo" type="dx:SystemSeqNoType"/>
            <xsd:element form="qualified" minOccurs="0" name="AssigningPaasAgencyId" type="dx:AgencyIdentifierType"/>
            <xsd:element form="qualified" minOccurs="0" name="AssigningPaasPartId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" minOccurs="0" name="AssigningPaasSeqNo" type="dx:SystemSeqNoType"/>
            <xsd:element form="qualified" minOccurs="0" name="AssignmentCd" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="AssignmentDt" type="dx:DateType"/>
            <xsd:element form="qualified" minOccurs="0" name="AssignmentEndDt" type="dx:DateType"/>
            <xsd:element form="qualified" minOccurs="0" name="WorkAssignmentCcn" type="dx:ConcurrencyControlType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="setCrownAssignmentResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element form="qualified" name="ResponseCd" type="xsd:string"/>
                <xsd:element form="qualified" minOccurs="0" name="ResponseMessageTxt" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="setFilesNoteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element form="qualified" name="RequestAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
                <xsd:element form="qualified" name="RequestPartId" type="dx:SystemIdType"/>
                <xsd:element form="qualified" name="RequestDtm" type="dx:DateTimeType"/>
                <xsd:element form="qualified" name="JustinNoList" type="xsd:string"/>
                <xsd:element form="qualified" name="NoteTxt" type="xsd:string"/>
                <xsd:element form="qualified" name="FileNoteTypeCd" type="dx:FileNoteType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="setFilesNoteResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element form="qualified" name="ResponseCd" type="xsd:string"/>
                <xsd:element form="qualified" minOccurs="0" name="ResponseMessageTxt" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="setFileNoteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element form="qualified" name="RequestAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
                <xsd:element form="qualified" name="RequestPartId" type="dx:SystemIdType"/>
                <xsd:element form="qualified" name="RequestDtm" type="dx:DateTimeType"/>
                <xsd:element form="qualified" name="JustinNo" type="dx:JustinNoType"/>
                <xsd:element form="qualified" name="NoteTxt" type="xsd:string"/>
                <xsd:element form="qualified" name="FileNoteTypeCd" type="dx:FileNoteType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="setFileNoteResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element form="qualified" name="ResponseCd" type="xsd:string"/>
                <xsd:element form="qualified" minOccurs="0" name="ResponseMessageTxt" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getAppearanceCriminalRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element form="qualified" name="RequestAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
                <xsd:element form="qualified" name="RequestPartId" type="dx:SystemIdType"/>
                <xsd:element form="qualified" name="RequestDtm" type="dx:DateTimeType"/>
                <xsd:element form="qualified" minOccurs="0" name="ApplicationCd" type="xsd:string"/>
                <xsd:element form="qualified" minOccurs="0" name="JustinNo" type="dx:JustinNoType"/>
                <xsd:element form="qualified" minOccurs="0" name="FutureYN" type="dx:YesNoType"/>
                <xsd:element form="qualified" minOccurs="0" name="HistoryYN" type="dx:YesNoType"/>
                <xsd:element form="qualified" minOccurs="0" name="AppearanceId" type="dx:SystemIdType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getAppearanceCriminalResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element form="qualified" name="ResponseCd" type="xsd:string"/>
                <xsd:element form="qualified" minOccurs="0" name="ResponseMessageTxt" type="xsd:string"/>
                <xsd:element form="qualified" name="FutureRecCount" type="xsd:string"/>
                <xsd:element form="qualified" name="HistoryRecCount" type="xsd:string"/>
                <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="ApprDetail" type="pcss:ApprDetail"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="ApprDetail">
        <xsd:sequence>
            <xsd:element form="qualified" name="HistoryYN" type="dx:YesNoType"/>
            <xsd:element form="qualified" name="AppearanceId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="AppearanceDt" type="dx:DateType"/>
            <xsd:element form="qualified" name="AppearanceTm" type="dx:TimeType"/>
            <xsd:element form="qualified" name="AppearanceReasonCd" type="dx:AppearanceReasonCriminalType"/>
            <xsd:element form="qualified" name="CourtAgencyId" type="dx:AgencyIdentifierType"/>
            <xsd:element form="qualified" name="CourtRoomCd" type="dx:CourtRoomCdType"/>
            <xsd:element form="qualified" minOccurs="0" name="JudgeFullNm" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="JudgeInitials" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="CounselFullNm" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="EstimatedTimeHour" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="EstimatedTimeMin" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="PartOfTrialYN" type="dx:YesNoType"/>
            <xsd:element form="qualified" minOccurs="0" name="AppearanceStatusCd" type="dx:AppearanceStatusType"/>
            <xsd:element form="qualified" name="PartId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="ProfSeqNo" type="dx:SystemSeqNoType"/>
            <xsd:element form="qualified" minOccurs="0" name="LastNm" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="GivenNm" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="OrgNm" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="AppearanceResultCd" type="dx:AppearanceResultCriminalType"/>
            <xsd:element form="qualified" name="AppearanceCcn" type="dx:ConcurrencyControlType"/>
            <xsd:element form="qualified" minOccurs="0" name="SupplementalEquipmentTxt" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="SecurityRestrictionTxt" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="OutOfTownJudgeTxt" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="BailPositionTypeCd" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="BailDecisionTypeCd" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="getFileDetailCriminalRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element form="qualified" name="RequestAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
                <xsd:element form="qualified" name="RequestPartId" type="dx:SystemIdType"/>
                <xsd:element form="qualified" name="RequestDtm" type="dx:DateTimeType"/>
                <xsd:element form="qualified" name="JustinNo" type="dx:JustinNoType"/>
                <xsd:element form="qualified" minOccurs="0" name="ApplicationCd" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getFileDetailCriminalResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element form="qualified" name="ResponseCd" type="xsd:string"/>
                <xsd:element form="qualified" minOccurs="0" name="ResponseMessageTxt" type="xsd:string"/>
                <xsd:element form="qualified" minOccurs="0" name="JustinNo" type="dx:JustinNoType"/>
                <xsd:element form="qualified" minOccurs="0" name="FileNumberTxt" type="xsd:string"/>
                <xsd:element form="qualified" minOccurs="0" name="HomeLocationAgenId" type="dx:AgencyIdentifierType"/>
                <xsd:element form="qualified" minOccurs="0" name="CourtLevelCd" type="dx:CourtLevelType"/>
                <xsd:element form="qualified" minOccurs="0" name="CourtClassCd" type="dx:CourtClassType"/>
                <xsd:element form="qualified" minOccurs="0" name="CurrentEstimateLenQty" type="xsd:string"/>
                <xsd:element form="qualified" minOccurs="0" name="CurrentEstimateLenUnit" type="dx:AppearanceDurationType"/>
                <xsd:element form="qualified" minOccurs="0" name="InitialEstimateLenQty" type="xsd:string"/>
                <xsd:element form="qualified" minOccurs="0" name="InitialEstimateLenUnit" type="dx:AppearanceDurationType"/>
                <xsd:element form="qualified" minOccurs="0" name="TrialStartDt" type="dx:DateType"/>
                <xsd:element form="qualified" minOccurs="0" name="WitnessCount" type="xsd:string"/>
                <xsd:element form="qualified" minOccurs="0" name="MdocSubCategoryDsc" type="xsd:string"/>
                <xsd:element form="qualified" minOccurs="0" name="ApprovedByAgencyCd" type="dx:CrownAgencyIdentifierType"/>
                <xsd:element form="qualified" minOccurs="0" name="ApprovedByPartNm" type="xsd:string"/>
                <xsd:element form="qualified" minOccurs="0" name="AssignedPartNm" type="xsd:string"/>
                <xsd:element form="qualified" minOccurs="0" name="CrownEstimateLenQty" type="xsd:string"/>
                <xsd:element form="qualified" minOccurs="0" name="CrownEstimateLenUnit" type="dx:AppearanceDurationType"/>
                <xsd:element form="qualified" minOccurs="0" name="CaseAgeDays" type="xsd:string"/>
                <xsd:element form="qualified" minOccurs="0" name="IndictableYN" type="dx:YesNoType"/>
                <xsd:element form="qualified" minOccurs="0" name="ComplexityTypeCd" type="dx:FileComplexityType"/>
                <xsd:element form="qualified" minOccurs="0" name="PersonnelWitnessRecCount" type="xsd:string"/>
                <xsd:element form="qualified" minOccurs="0" name="ExpertWitnessRecCount" type="xsd:string"/>
                <xsd:element form="qualified" minOccurs="0" name="CivilianWitnessRecCount" type="xsd:string"/>
                <xsd:element form="qualified" minOccurs="0" name="EnforcementAgencyFileNoTxt" type="xsd:string"/>
                <xsd:element form="qualified" minOccurs="0" name="TrialRemarkTxt" type="xsd:string"/>
                <xsd:element form="qualified" minOccurs="0" name="CommentToJudgeTxt" type="xsd:string"/>
                <xsd:element form="qualified" minOccurs="0" name="ApprovalCrownAgencyTypeCd" type="xsd:string"/>
                <xsd:element form="qualified" minOccurs="0" name="MdocCcn" type="dx:ConcurrencyControlType"/>
                <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="TrialRemark" type="pcss:TrialRemark"/>
                <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Participant" type="pcss:Participant"/>
                <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Witness" type="pcss:Witness"/>
                <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="HearingRestriction" type="pcss:HearingRestriction2"/>
                <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="CrownFileNote" type="pcss:CrownFileNote"/>
                <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Rcc" type="pcss:Rcc"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="TrialRemark">
        <xsd:sequence>
            <xsd:element form="qualified" minOccurs="0" name="CommentTxt" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Participant">
        <xsd:sequence>
            <xsd:element form="qualified" name="PartId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="ProfSeqNo" type="dx:SystemSeqNoType"/>
            <xsd:element form="qualified" minOccurs="0" name="LastNm" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="GivenNm" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="OrgNm" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="WarrantYN" type="dx:YesNoType"/>
            <xsd:element form="qualified" minOccurs="0" name="InCustodyYN" type="dx:YesNoType"/>
            <xsd:element form="qualified" minOccurs="0" name="InterpreterYN" type="dx:YesNoType"/>
            <xsd:element form="qualified" minOccurs="0" name="DetainedYN" type="dx:YesNoType"/>
            <xsd:element form="qualified" minOccurs="0" name="BirthDt" type="dx:DateType"/>
            <xsd:element form="qualified" minOccurs="0" name="CounselRrepId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" minOccurs="0" name="CounselPartId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" minOccurs="0" name="CounselLastNm" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="CounselGivenNm" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="CounselRelatedRepTypeCd" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="CounselEnteredDt" type="dx:DateType"/>
            <xsd:element form="qualified" minOccurs="0" name="DesignatedCounselYN" type="dx:YesNoType"/>
            <xsd:element form="qualified" minOccurs="0" name="RvoYN" type="dx:YesNoType"/>
            <xsd:element form="qualified" minOccurs="0" name="HroipYN" type="dx:YesNoType"/>
            <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Charge" type="pcss:Charge"/>
            <xsd:element form="qualified" minOccurs="0" name="OutstandingWarrantYN" type="dx:YesNoType"/>
            <xsd:element form="qualified" minOccurs="0" name="OutstandingWarrantFiles" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Charge">
        <xsd:sequence>
            <xsd:element form="qualified" name="SectionTxt" type="xsd:string"/>
            <xsd:element form="qualified" name="SectionDscTxt" type="xsd:string"/>
            <xsd:element form="qualified" name="RestrictedStatuteYN" type="dx:YesNoType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Witness">
        <xsd:sequence>
            <xsd:element form="qualified" name="PartId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="LastNm" type="xsd:string"/>
            <xsd:element form="qualified" name="GivenNm" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="WitnessTypeCd" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="RoleTypeCd" type="dx:WitnessRoleType"/>
            <xsd:element form="qualified" minOccurs="0" name="RequiredYN" type="dx:YesNoType"/>
            <xsd:element form="qualified" minOccurs="0" name="ConfidentialYN" type="dx:YesNoType"/>
            <xsd:element form="qualified" minOccurs="0" name="PinCodeTxt" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="AgencyId" type="dx:SystemIdType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="HearingRestriction2">
        <xsd:sequence>
            <xsd:element form="qualified" name="HearingRestrictionId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="AdjPartId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="AdjFullNm" type="xsd:string"/>
            <xsd:element form="qualified" name="HearingRestrictionTypeCd" type="dx:HearingRestrictionType"/>
            <xsd:element form="qualified" minOccurs="0" name="PartId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" minOccurs="0" name="ProfSeqNo" type="dx:SystemSeqNoType"/>
            <xsd:element form="qualified" minOccurs="0" name="PartNm" type="xsd:string"/>
            <xsd:element form="qualified" name="AdjInitialsTxt" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="JustinNo" type="dx:JustinNoType"/>
            <xsd:element form="qualified" name="HearingRestrictionCcn" type="dx:ConcurrencyControlType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CrownFileNote">
        <xsd:sequence>
            <xsd:element form="qualified" name="FileNoteId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="NoteTxt" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Rcc">
        <xsd:sequence>
            <xsd:element form="qualified" name="RccId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="RccAgencyId" type="dx:AgencyIdentifierType"/>
            <xsd:element form="qualified" name="RccAgencyFileNo" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="SynopsisTxt" type="xsd:string"/>
            <xsd:element form="qualified" name="DemsCaseUrl" minOccurs="0" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="getClosedFileRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element form="qualified" name="RequestAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
                <xsd:element form="qualified" name="RequestPartId" type="dx:SystemIdType"/>
                <xsd:element form="qualified" name="RequestDtm" type="dx:DateTimeType"/>
                <xsd:element form="qualified" name="FromApprDt" type="dx:DateType"/>
                <xsd:element form="qualified" name="ToApprDt" type="dx:DateType"/>
                <xsd:element form="qualified" minOccurs="0" name="AgencyId" type="dx:AgencyIdentifierType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getClosedFileResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element form="qualified" name="ResponseCd" type="xsd:string"/>
                <xsd:element form="qualified" minOccurs="0" name="ResponseMessageTxt" type="xsd:string"/>
                <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="CourtFile" type="pcss:CourtFile"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="CourtFile">
        <xsd:sequence>
            <xsd:element form="qualified" name="JustinNo" type="dx:JustinNoType"/>
            <xsd:element form="qualified" name="FileNumberTxt" type="xsd:string"/>
            <xsd:element form="qualified" name="HomeLocationAgenId" type="dx:AgencyIdentifierType"/>
            <xsd:element form="qualified" name="CourtLevelCd" type="dx:CourtLevelType"/>
            <xsd:element form="qualified" name="CourtClassCd" type="dx:CourtClassType"/>
            <xsd:element form="qualified" name="ProfPartId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="ProfSeqNo" type="dx:SystemSeqNoType"/>
            <xsd:element form="qualified" name="PartNm" type="xsd:string"/>
            <xsd:element form="qualified" name="ApprId" type="dx:SystemIdType"/>
            <xsd:element form="qualified" name="ApprDt" type="dx:DateType"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
