pcss-criminal-application/src/main/resources/xsdSchemas/demsCase.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://courts.gov.bc.ca/xml/ns/pcss/demsIntegration/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://courts.gov.bc.ca/xml/ns/pcss/demsIntegration/v1" targetNamespace="http://courts.gov.bc.ca/xml/ns/pcss/demsIntegration/v1">
    <wsdl:types>
        <xsd:schema xmlns:dx="http://courts.gov.bc.ca/XMLSchema/PCSS/common/1.0.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://courts.gov.bc.ca/xml/ns/pcss/demsIntegration/v1">
		<xsd:import namespace="http://courts.gov.bc.ca/XMLSchema/PCSS/common/1.0.0"/>
            <xsd:element name="getDemsCaseMappingRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="RequestAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
                        <xsd:element name="RequestPartId" type="dx:SystemIdType"/>
                        <xsd:element name="RequestDtm" type="dx:DateTimeType"/>
                        <xsd:element minOccurs="0" name="ApplicationCd" type="xsd:string"/>
                        <xsd:element maxOccurs="unbounded" minOccurs="1" name="JustinNo" type="dx:JustinNoType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getDemsCaseMappingResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="DemsCaseLink" type="tns:DemsCaseType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="DemsCaseLinkType">
                <xsd:sequence>
                    <xsd:element name="JustinNo" type="dx:JustinNoType"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="DemsCase" type="tns:DemsCaseType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DemsCaseType">
                <xsd:sequence>
                    <xsd:element name="RccAgencyId" type="dx:AgencyIdentifierType"/>
                    <xsd:element name="RccAgencyFileNo" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="DemsCaseUrl" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
			</xsd:schema>
			<xsd:schema
					xmlns:dx="http://courts.gov.bc.ca/XMLSchema/PCSS/common/1.0.0" targetNamespace="http://courts.gov.bc.ca/XMLSchema/PCSS/common/1.0.0"
					xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:simpleType name="SystemIdType">
                <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:maxLength value="16"/>
                </xsd:restriction>
            </xsd:simpleType>
			
			<xsd:simpleType name="AgencyIdentifierType">
			<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:maxLength value="16"/>
			</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:simpleType name="JustinNoType">
			<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:maxLength value="12"/>
			</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:simpleType name="DateTimeType">
			<xsd:restriction base="xsd:dateTime"/>
			</xsd:simpleType>
	</xsd:schema>		
    </wsdl:types>
    <wsdl:message name="getDemsCaseMappingResponse">
        <wsdl:part element="tns:getDemsCaseMappingResponse" name="getDemsCaseMappingResponse">
    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getDemsCaseMappingRequest">
        <wsdl:part element="tns:getDemsCaseMappingRequest" name="getDemsCaseMappingRequest">
    </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="DemsIntegrationPort">
        <wsdl:operation name="getDemsCaseMapping">
            <wsdl:input message="tns:getDemsCaseMappingRequest" name="getDemsCaseMappingRequest">
    </wsdl:input>
            <wsdl:output message="tns:getDemsCaseMappingResponse" name="getDemsCaseMappingResponse">
    </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DemsIntegrationPortSoap11" type="tns:DemsIntegrationPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getDemsCaseMapping">
            <soap:operation soapAction=""/>
            <wsdl:input name="getDemsCaseMappingRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getDemsCaseMappingResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="DemsIntegrationPortSoap12" type="tns:DemsIntegrationPort">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getDemsCaseMapping">
            <soap12:operation soapAction=""/>
            <wsdl:input name="getDemsCaseMappingRequest">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getDemsCaseMappingResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DemsIntegrationPortService">
        <wsdl:port binding="tns:DemsIntegrationPortSoap12" name="DemsIntegrationPortSoap12">
            <soap12:address location="http://localhost:8080/criminal"/>
        </wsdl:port>
        <wsdl:port binding="tns:DemsIntegrationPortSoap11" name="DemsIntegrationPortSoap11">
            <soap:address location="http://localhost:8080/criminal"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>