pcss-criminal-application/src/main/resources/xsdSchemas/demsCase.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://courts.gov.bc.ca/xml/ns/pcss/demsCase/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://courts.gov.bc.ca/xml/ns/pcss/demsCase/v1" targetNamespace="http://courts.gov.bc.ca/xml/ns/pcss/demsCase/v1">
    <wsdl:types>
        <xsd:schema xmlns:dx="http://courts.gov.bc.ca/XMLSchema/PCSS/common/1.0.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://courts.gov.bc.ca/xml/ns/pcss/demsCase/v1">
            <xsd:element name="getDemsCaseMappingRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="RequestAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
                        <xsd:element name="RequestPartId" type="dx:SystemIdType"/>
                        <xsd:element name="RequestDtm" type="dx:DateTimeType"/>
                        <xsd:element minOccurs="0" name="ApplicationCd" type="xsd:string"/>
                        <xsd:element maxOccurs="unbounded" minOccurs="1" name="JustinNo" type="dx:JustinNoType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getDemsCaseMappingResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="dems_case" type="tns:DemsCaseType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="DemsCaseType">
                <xsd:sequence>
                    <xsd:element name="mdoc_justin_no" type="xsd:string"/>
                    <xsd:element name="agen_id" type="dx:AgencyIdentifierType"/>
                    <xsd:element name="agency_file_no" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="dems_url" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="Error">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Reason" nillable="true" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
        <xsd:schema
                xmlns:dx="http://courts.gov.bc.ca/XMLSchema/PCSS/common/1.0.0" targetNamespace="http://courts.gov.bc.ca/XMLSchema/PCSS/common/1.0.0"
                xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:simpleType name="SystemIdType">
            <xsd:restriction base="xsd:string">
                <xsd:whiteSpace value="preserve"/>
                <xsd:maxLength value="16"/>
            </xsd:restriction>
        </xsd:simpleType>

        <xsd:simpleType name="AgencyIdentifierType">
            <xsd:restriction base="xsd:string">
                <xsd:whiteSpace value="preserve"/>
                <xsd:maxLength value="16"/>
            </xsd:restriction>
        </xsd:simpleType>

        <xsd:simpleType name="JustinNoType">
            <xsd:restriction base="xsd:string">
                <xsd:whiteSpace value="preserve"/>
                <xsd:maxLength value="12"/>
            </xsd:restriction>
        </xsd:simpleType>

        <xsd:simpleType name="DateTimeType">
            <xsd:restriction base="xsd:dateTime"/>
        </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getDemsCaseMappingResponse">
        <wsdl:part element="tns:getDemsCaseMappingResponse" name="getDemsCaseMappingResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getDemsCaseMappingRequest">
        <wsdl:part element="tns:getDemsCaseMappingRequest" name="getDemsCaseMappingRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="DemsCasePort">
        <wsdl:operation name="getDemsCaseMapping">
            <wsdl:input message="tns:getDemsCaseMappingRequest" name="getDemsCaseMappingRequest">
            </wsdl:input>
            <wsdl:output message="tns:getDemsCaseMappingResponse" name="getDemsCaseMappingResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DemsCasePortSoap12" type="tns:DemsCasePort">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getDemsCaseMapping">
            <soap12:operation soapAction=""/>
            <wsdl:input name="getDemsCaseMappingRequest">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getDemsCaseMappingResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="DemsCasePortSoap11" type="tns:DemsCasePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getDemsCaseMapping">
            <soap:operation soapAction=""/>
            <wsdl:input name="getDemsCaseMappingRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getDemsCaseMappingResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DemsCasePortService">
        <wsdl:port binding="tns:DemsCasePortSoap12" name="DemsCasePortSoap12">
            <soap12:address location="http://localhost:8080/criminal"/>
        </wsdl:port>
        <wsdl:port binding="tns:DemsCasePortSoap11" name="DemsCasePortSoap11">
            <soap:address location="http://localhost:8080/criminal"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>