pcss-criminal-application/src/main/resources/xsdSchemas/pcssCriminalSecure.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="pcssCriminalSecure" targetNamespace="http://courts.gov.bc.ca/xml/ns/pcss/criminal/v1" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://courts.gov.bc.ca/xml/ns/pcss/criminal/v1" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:tns="http://reeks.bcgov/JusticePCSSCriminal.wsProvider:pcssCriminalSecure" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:HDR1="http://courts.gov.bc.ca/XMLSchema/PCSS/common/1.0.0" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:HDR2="http://courts.gov.bc.ca/XMLSchema/PCSS/1.0.0" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema xmlns:dx="http://courts.gov.bc.ca/XMLSchema/PCSS/common/1.0.0" xmlns:pcss="http://courts.gov.bc.ca/XMLSchema/PCSS/1.0.0" targetNamespace="http://courts.gov.bc.ca/XMLSchema/PCSS/1.0.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:import namespace="http://courts.gov.bc.ca/XMLSchema/PCSS/common/1.0.0"/>
          <xsd:element name="getAppearanceCriminalApprMethodSecureRequest" type="pcss:getAppearanceCriminalApprMethodSecureRequest"/>
          <xsd:element name="getAppearanceCriminalApprMethodResponse" type="pcss:getAppearanceCriminalApprMethodResponse"/>
          <xsd:element name="getAppearanceCriminalCountSecureRequest" type="pcss:getAppearanceCriminalCountSecureRequest"/>
          <xsd:element name="getAppearanceCriminalCountResponse" type="pcss:getAppearanceCriminalCountResponse"/>
          <xsd:element name="getAppearanceCriminalSecureRequest" type="pcss:getAppearanceCriminalSecureRequest"/>
          <xsd:element name="getAppearanceCriminalResponse" type="pcss:getAppearanceCriminalResponse"/>
          <xsd:element name="getFileDetailCriminalRequest" type="pcss:getFileDetailCriminalRequest"/>
          <xsd:element name="getFileDetailCriminalResponse" type="pcss:getFileDetailCriminalResponse"/>
          <xsd:complexType name="getAppearanceCriminalApprMethodSecureRequest">
            <xsd:sequence>
              <xsd:element form="qualified" name="RequestAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
              <xsd:element form="qualified" name="RequestPartId" type="dx:SystemIdType"/>
              <xsd:element form="qualified" name="RequestDtm" type="dx:DateTimeType"/>
              <xsd:element form="qualified" name="ApplicationCd" type="xsd:string"/>
              <xsd:element form="qualified" name="AppearanceId" type="dx:SystemIdType"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="getAppearanceCriminalApprMethodResponse">
            <xsd:sequence>
              <xsd:element form="qualified" name="ResponseCd" type="xsd:string"/>
              <xsd:element form="qualified" minOccurs="0" name="ResponseMessageTxt" type="xsd:string"/>
              <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="AppearanceMethod" type="pcss:AppearanceMethod"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="AppearanceMethod">
            <xsd:sequence>
              <xsd:element form="qualified" name="AssetUsageSeqNo" type="xsd:string"/>
              <xsd:element form="qualified" name="RoleTypeCd" type="dx:ParticipantRoleType"/>
              <xsd:element form="qualified" minOccurs="0" name="AppearanceMethodCd" type="dx:AssetType"/>
              <xsd:element form="qualified" minOccurs="0" name="PhoneNumberTxt" type="xsd:string"/>
              <xsd:element form="qualified" minOccurs="0" name="InstructionTxt" type="xsd:string"/>
              <xsd:element form="qualified" name="ApprMethodCcn" type="dx:ConcurrencyControlType"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="getAppearanceCriminalCountSecureRequest">
            <xsd:sequence>
              <xsd:element form="qualified" name="RequestAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
              <xsd:element form="qualified" name="RequestPartId" type="xsd:string"/>
              <xsd:element form="qualified" name="RequestDtm" type="dx:DateTimeType"/>
              <xsd:element form="qualified" name="ApplicationCd" type="xsd:string"/>
              <xsd:element form="qualified" name="AppearanceId" type="dx:SystemIdType"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="getAppearanceCriminalCountResponse">
            <xsd:sequence>
              <xsd:element form="qualified" name="ResponseCd" type="xsd:string"/>
              <xsd:element form="qualified" minOccurs="0" name="ResponseMessageTxt" type="xsd:string"/>
              <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="ApprCount" type="pcss:ApprCount"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="ApprCount">
            <xsd:sequence>
              <xsd:element form="qualified" name="PrintSeqNo" type="xsd:string"/>
              <xsd:element form="qualified" name="StatuteSectionDsc" type="xsd:string"/>
              <xsd:element form="qualified" name="StatuteDsc" type="xsd:string"/>
              <xsd:element form="qualified" name="AppearanceReasonCd" type="dx:AppearanceReasonCriminalType"/>
              <xsd:element form="qualified" minOccurs="0" name="AppearanceResultCd" type="dx:AppearanceResultCriminalType"/>
              <xsd:element form="qualified" minOccurs="0" name="FindingCd" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="getAppearanceCriminalSecureRequest">
            <xsd:sequence>
              <xsd:element form="qualified" name="RequestAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
              <xsd:element form="qualified" name="RequestPartId" type="dx:SystemIdType"/>
              <xsd:element form="qualified" name="RequestDtm" type="dx:DateTimeType"/>
              <xsd:element form="qualified" name="ApplicationCd" type="xsd:string"/>
              <xsd:element form="qualified" minOccurs="0" name="JustinNo" type="dx:JustinNoType"/>
              <xsd:element form="qualified" minOccurs="0" name="FutureYN" type="dx:YesNoType"/>
              <xsd:element form="qualified" minOccurs="0" name="HistoryYN" type="dx:YesNoType"/>
              <xsd:element form="qualified" minOccurs="0" name="AppearanceId" type="dx:SystemIdType"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="getAppearanceCriminalResponse">
            <xsd:sequence>
              <xsd:element form="qualified" name="ResponseCd" type="xsd:string"/>
              <xsd:element form="qualified" minOccurs="0" name="ResponseMessageTxt" type="xsd:string"/>
              <xsd:element form="qualified" name="FutureRecCount" type="xsd:string"/>
              <xsd:element form="qualified" name="HistoryRecCount" type="xsd:string"/>
              <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="ApprDetail" type="pcss:ApprDetail"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="ApprDetail">
            <xsd:sequence>
              <xsd:element form="qualified" name="HistoryYN" type="dx:YesNoType"/>
              <xsd:element form="qualified" name="AppearanceId" type="dx:SystemIdType"/>
              <xsd:element form="qualified" name="AppearanceDt" type="dx:DateType"/>
              <xsd:element form="qualified" name="AppearanceTm" type="dx:TimeType"/>
              <xsd:element form="qualified" name="AppearanceReasonCd" type="dx:AppearanceReasonCriminalType"/>
              <xsd:element form="qualified" name="CourtAgencyId" type="dx:AgencyIdentifierType"/>
              <xsd:element form="qualified" name="CourtRoomCd" type="dx:CourtRoomCdType"/>
              <xsd:element form="qualified" minOccurs="0" name="JudgeFullNm" type="xsd:string"/>
              <xsd:element form="qualified" minOccurs="0" name="JudgeInitials" type="xsd:string"/>
              <xsd:element form="qualified" minOccurs="0" name="CounselFullNm" type="xsd:string"/>
              <xsd:element form="qualified" minOccurs="0" name="EstimatedTimeHour" type="xsd:string"/>
              <xsd:element form="qualified" minOccurs="0" name="EstimatedTimeMin" type="xsd:string"/>
              <xsd:element form="qualified" minOccurs="0" name="PartOfTrialYN" type="dx:YesNoType"/>
              <xsd:element form="qualified" minOccurs="0" name="AppearanceStatusCd" type="dx:AppearanceStatusType"/>
              <xsd:element form="qualified" name="PartId" type="dx:SystemIdType"/>
              <xsd:element form="qualified" name="ProfSeqNo" type="dx:SystemSeqNoType"/>
              <xsd:element form="qualified" minOccurs="0" name="LastNm" type="xsd:string"/>
              <xsd:element form="qualified" minOccurs="0" name="GivenNm" type="xsd:string"/>
              <xsd:element form="qualified" minOccurs="0" name="OrgNm" type="xsd:string"/>
              <xsd:element form="qualified" minOccurs="0" name="AppearanceResultCd" type="dx:AppearanceResultCriminalType"/>
              <xsd:element form="qualified" name="AppearanceCcn" type="dx:ConcurrencyControlType"/>
              <xsd:element form="qualified" minOccurs="0" name="SupplementalEquipmentTxt" type="xsd:string"/>
              <xsd:element form="qualified" minOccurs="0" name="SecurityRestrictionTxt" type="xsd:string"/>
              <xsd:element form="qualified" minOccurs="0" name="OutOfTownJudgeTxt" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="getFileDetailCriminalRequest">
            <xsd:sequence>
              <xsd:element form="qualified" name="RequestAgencyIdentifierId" type="dx:AgencyIdentifierType"/>
              <xsd:element form="qualified" name="RequestPartId" type="dx:SystemIdType"/>
              <xsd:element form="qualified" name="RequestDtm" type="dx:DateTimeType"/>
              <xsd:element form="qualified" name="JustinNo" type="dx:JustinNoType"/>
              <xsd:element form="qualified" minOccurs="0" name="ApplicationCd" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="getFileDetailCriminalResponse">
            <xsd:sequence>
              <xsd:element form="qualified" name="ResponseCd" type="xsd:string"/>
              <xsd:element form="qualified" minOccurs="0" name="ResponseMessageTxt" type="xsd:string"/>
              <xsd:element form="qualified" minOccurs="0" name="JustinNo" type="dx:JustinNoType"/>
              <xsd:element form="qualified" minOccurs="0" name="FileNumberTxt" type="xsd:string"/>
              <xsd:element form="qualified" minOccurs="0" name="HomeLocationAgenId" type="dx:AgencyIdentifierType"/>
              <xsd:element form="qualified" minOccurs="0" name="CourtLevelCd" type="dx:CourtLevelType"/>
              <xsd:element form="qualified" minOccurs="0" name="CourtClassCd" type="dx:CourtClassType"/>
              <xsd:element form="qualified" minOccurs="0" name="CurrentEstimateLenQty" type="xsd:string"/>
              <xsd:element form="qualified" minOccurs="0" name="CurrentEstimateLenUnit" type="dx:AppearanceDurationType"/>
              <xsd:element form="qualified" minOccurs="0" name="InitialEstimateLenQty" type="xsd:string"/>
              <xsd:element form="qualified" minOccurs="0" name="InitialEstimateLenUnit" type="dx:AppearanceDurationType"/>
              <xsd:element form="qualified" minOccurs="0" name="TrialStartDt" type="dx:DateType"/>
              <xsd:element form="qualified" minOccurs="0" name="WitnessCount" type="xsd:string"/>
              <xsd:element form="qualified" minOccurs="0" name="MdocSubCategoryDsc" type="xsd:string"/>
              <xsd:element form="qualified" minOccurs="0" name="ApprovedByAgencyCd" type="dx:CrownAgencyIdentifierType"/>
              <xsd:element form="qualified" minOccurs="0" name="ApprovedByPartNm" type="xsd:string"/>
              <xsd:element form="qualified" minOccurs="0" name="AssignedPartNm" type="xsd:string"/>
              <xsd:element form="qualified" minOccurs="0" name="CrownEstimateLenQty" type="xsd:string"/>
              <xsd:element form="qualified" minOccurs="0" name="CrownEstimateLenUnit" type="dx:AppearanceDurationType"/>
              <xsd:element form="qualified" minOccurs="0" name="CaseAgeDays" type="xsd:string"/>
              <xsd:element form="qualified" minOccurs="0" name="IndictableYN" type="dx:YesNoType"/>
              <xsd:element form="qualified" minOccurs="0" name="ComplexityTypeCd" type="dx:FileComplexityType"/>
              <xsd:element form="qualified" minOccurs="0" name="PersonnelWitnessRecCount" type="xsd:string"/>
              <xsd:element form="qualified" minOccurs="0" name="ExpertWitnessRecCount" type="xsd:string"/>
              <xsd:element form="qualified" minOccurs="0" name="CivilianWitnessRecCount" type="xsd:string"/>
              <xsd:element form="qualified" minOccurs="0" name="EnforcementAgencyFileNoTxt" type="xsd:string"/>
              <xsd:element form="qualified" minOccurs="0" name="TrialRemarkTxt" type="xsd:string"/>
              <xsd:element form="qualified" minOccurs="0" name="CommentToJudgeTxt" type="xsd:string"/>
              <xsd:element form="qualified" minOccurs="0" name="ApprovalCrownAgencyTypeCd" type="xsd:string"/>
              <xsd:element form="qualified" minOccurs="0" name="MdocCcn" type="dx:ConcurrencyControlType"/>
              <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="TrialRemark" type="pcss:TrialRemark"/>
              <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Participant" type="pcss:Participant"/>
              <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Witness" type="pcss:Witness"/>
              <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="HearingRestriction" type="pcss:HearingRestriction"/>
              <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="CrownFileNote" type="pcss:CrownFileNote"/>
              <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Rcc" type="pcss:Rcc"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="TrialRemark">
            <xsd:sequence>
              <xsd:element form="qualified" minOccurs="0" name="CommentTxt" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="Participant">
            <xsd:sequence>
              <xsd:element form="qualified" name="PartId" type="dx:SystemIdType"/>
              <xsd:element form="qualified" name="ProfSeqNo" type="dx:SystemSeqNoType"/>
              <xsd:element form="qualified" minOccurs="0" name="LastNm" type="xsd:string"/>
              <xsd:element form="qualified" minOccurs="0" name="GivenNm" type="xsd:string"/>
              <xsd:element form="qualified" minOccurs="0" name="OrgNm" type="xsd:string"/>
              <xsd:element form="qualified" minOccurs="0" name="WarrantYN" type="dx:YesNoType"/>
              <xsd:element form="qualified" minOccurs="0" name="InCustodyYN" type="dx:YesNoType"/>
              <xsd:element form="qualified" minOccurs="0" name="InterpreterYN" type="dx:YesNoType"/>
              <xsd:element form="qualified" minOccurs="0" name="DetainedYN" type="dx:YesNoType"/>
              <xsd:element form="qualified" minOccurs="0" name="BirthDt" type="dx:DateType"/>
              <xsd:element form="qualified" minOccurs="0" name="CounselRrepId" type="dx:SystemIdType"/>
              <xsd:element form="qualified" minOccurs="0" name="CounselPartId" type="dx:SystemIdType"/>
              <xsd:element form="qualified" minOccurs="0" name="CounselLastNm" type="xsd:string"/>
              <xsd:element form="qualified" minOccurs="0" name="CounselGivenNm" type="xsd:string"/>
              <xsd:element form="qualified" minOccurs="0" name="CounselRelatedRepTypeCd" type="xsd:string"/>
              <xsd:element form="qualified" minOccurs="0" name="CounselEnteredDt" type="dx:DateType"/>
              <xsd:element form="qualified" minOccurs="0" name="DesignatedCounselYN" type="dx:YesNoType"/>
              <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Charge" type="pcss:Charge"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="Charge">
            <xsd:sequence>
              <xsd:element form="qualified" name="SectionTxt" type="xsd:string"/>
              <xsd:element form="qualified" name="SectionDscTxt" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="Witness">
            <xsd:sequence>
              <xsd:element form="qualified" name="PartId" type="dx:SystemIdType"/>
              <xsd:element form="qualified" name="LastNm" type="xsd:string"/>
              <xsd:element form="qualified" name="GivenNm" type="xsd:string"/>
              <xsd:element form="qualified" minOccurs="0" name="WitnessTypeCd" type="xsd:string"/>
              <xsd:element form="qualified" minOccurs="0" name="RoleTypeCd" type="dx:WitnessRoleType"/>
              <xsd:element form="qualified" minOccurs="0" name="RequiredYN" type="dx:YesNoType"/>
              <xsd:element form="qualified" minOccurs="0" name="ConfidentialYN" type="dx:YesNoType"/>
              <xsd:element form="qualified" minOccurs="0" name="PinCodeTxt" type="xsd:string"/>
              <xsd:element form="qualified" minOccurs="0" name="AgencyId" type="dx:SystemIdType"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="HearingRestriction">
            <xsd:sequence>
              <xsd:element form="qualified" name="HearingRestrictionId" type="dx:SystemIdType"/>
              <xsd:element form="qualified" name="AdjPartId" type="dx:SystemIdType"/>
              <xsd:element form="qualified" name="AdjFullNm" type="xsd:string"/>
              <xsd:element form="qualified" name="HearingRestrictionTypeCd" type="dx:HearingRestrictionType"/>
              <xsd:element form="qualified" minOccurs="0" name="PartId" type="dx:SystemIdType"/>
              <xsd:element form="qualified" minOccurs="0" name="ProfSeqNo" type="dx:SystemSeqNoType"/>
              <xsd:element form="qualified" minOccurs="0" name="PartNm" type="xsd:string"/>
              <xsd:element form="qualified" name="AdjInitialsTxt" type="xsd:string"/>
              <xsd:element form="qualified" minOccurs="0" name="JustinNo" type="dx:JustinNoType"/>
              <xsd:element form="qualified" name="HearingRestrictionCcn" type="dx:ConcurrencyControlType"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="CrownFileNote">
            <xsd:sequence>
              <xsd:element form="qualified" name="FileNoteId" type="dx:SystemIdType"/>
              <xsd:element form="qualified" name="NoteTxt" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="Rcc">
            <xsd:sequence>
              <xsd:element form="qualified" name="RccId" type="dx:SystemIdType"/>
              <xsd:element form="qualified" name="RccAgencyId" type="dx:AgencyIdentifierType"/>
              <xsd:element form="qualified" name="RccAgencyFileNo" type="xsd:string"/>
              <xsd:element form="qualified" minOccurs="0" name="SynopsisTxt" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        	</xsd:schema>
    <xsd:schema xmlns:pcss="http://courts.gov.bc.ca/XMLSchema/PCSS/1.0.0" xmlns:tns="http://courts.gov.bc.ca/xml/ns/pcss/criminal/v1" targetNamespace="http://courts.gov.bc.ca/xml/ns/pcss/criminal/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:import namespace="http://courts.gov.bc.ca/XMLSchema/PCSS/1.0.0"/>
          <xsd:element name="getAppearanceCriminalApprMethodSecure" type="tns:getAppearanceCriminalApprMethodSecure"/>
          <xsd:element name="getAppearanceCriminalApprMethodSecureResponse" type="tns:getAppearanceCriminalApprMethodSecureResponse"/>
          <xsd:element name="getAppearanceCriminalCountSecure" type="tns:getAppearanceCriminalCountSecure"/>
          <xsd:element name="getAppearanceCriminalCountSecureResponse" type="tns:getAppearanceCriminalCountSecureResponse"/>
          <xsd:element name="getAppearanceCriminalSecure" type="tns:getAppearanceCriminalSecure"/>
          <xsd:element name="getAppearanceCriminalSecureResponse" type="tns:getAppearanceCriminalSecureResponse"/>
          <xsd:element name="getFileDetailCriminalSecure" type="tns:getFileDetailCriminalSecure"/>
          <xsd:element name="getFileDetailCriminalSecureResponse" type="tns:getFileDetailCriminalSecureResponse"/>
          <xsd:complexType name="getAppearanceCriminalApprMethodSecure">
            <xsd:sequence>
              <xsd:element name="getAppearanceCriminalApprMethodSecureRequest" nillable="true" type="tns:getAppearanceCriminalApprMethodSecureRequest"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="getAppearanceCriminalApprMethodSecureRequest">
            <xsd:sequence>
              <xsd:element ref="pcss:getAppearanceCriminalApprMethodSecureRequest"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="getAppearanceCriminalApprMethodSecureResponse">
            <xsd:sequence>
              <xsd:element name="getAppearanceCriminalApprMethodResponse" nillable="true" type="tns:getAppearanceCriminalApprMethodResponse"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="getAppearanceCriminalApprMethodResponse">
            <xsd:sequence>
              <xsd:element ref="pcss:getAppearanceCriminalApprMethodResponse"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="getAppearanceCriminalCountSecure">
            <xsd:sequence>
              <xsd:element name="getAppearanceCriminalCountSecureRequest" nillable="true" type="tns:getAppearanceCriminalCountSecureRequest"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="getAppearanceCriminalCountSecureRequest">
            <xsd:sequence>
              <xsd:element ref="pcss:getAppearanceCriminalCountSecureRequest"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="getAppearanceCriminalCountSecureResponse">
            <xsd:sequence>
              <xsd:element name="getAppearanceCriminalCountResponse" nillable="true" type="tns:getAppearanceCriminalCountResponse"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="getAppearanceCriminalCountResponse">
            <xsd:sequence>
              <xsd:element ref="pcss:getAppearanceCriminalCountResponse"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="getAppearanceCriminalSecure">
            <xsd:sequence>
              <xsd:element name="getAppearanceCriminalSecureRequest" nillable="true" type="tns:getAppearanceCriminalSecureRequest"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="getAppearanceCriminalSecureRequest">
            <xsd:sequence>
              <xsd:element ref="pcss:getAppearanceCriminalSecureRequest"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="getAppearanceCriminalSecureResponse">
            <xsd:sequence>
              <xsd:element name="getAppearanceCriminalResponse" nillable="true" type="tns:getAppearanceCriminalResponse"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="getAppearanceCriminalResponse">
            <xsd:sequence>
              <xsd:element ref="pcss:getAppearanceCriminalResponse"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="getFileDetailCriminalSecure">
            <xsd:sequence>
              <xsd:element name="getFileDetailCriminalSecureRequest" nillable="true" type="tns:getFileDetailCriminalRequest"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="getFileDetailCriminalRequest">
            <xsd:sequence>
              <xsd:element ref="pcss:getFileDetailCriminalRequest"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="getFileDetailCriminalSecureResponse">
            <xsd:sequence>
              <xsd:element name="getFileDetailCriminalResponse" nillable="true" type="tns:getFileDetailCriminalResponse"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="getFileDetailCriminalResponse">
            <xsd:sequence>
              <xsd:element ref="pcss:getFileDetailCriminalResponse"/>
            </xsd:sequence>
          </xsd:complexType>
        	</xsd:schema>
    <xsd:schema xmlns:dx="http://courts.gov.bc.ca/XMLSchema/PCSS/common/1.0.0" targetNamespace="http://courts.gov.bc.ca/XMLSchema/PCSS/common/1.0.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:simpleType name="AgencyIdentifierType">
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
              <xsd:maxLength value="16"/>
            </xsd:restriction>
          </xsd:simpleType>
          <xsd:simpleType name="SystemIdType">
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
              <xsd:maxLength value="16"/>
            </xsd:restriction>
          </xsd:simpleType>
          <xsd:simpleType name="DateTimeType">
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
              <xsd:length value="21"/>
            </xsd:restriction>
          </xsd:simpleType>
          <xsd:simpleType name="ParticipantRoleType">
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
              <xsd:maxLength value="4"/>
            </xsd:restriction>
          </xsd:simpleType>
          <xsd:simpleType name="AssetType">
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
              <xsd:maxLength value="4"/>
            </xsd:restriction>
          </xsd:simpleType>
          <xsd:simpleType name="ConcurrencyControlType">
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
              <xsd:maxLength value="12"/>
            </xsd:restriction>
          </xsd:simpleType>
          <xsd:simpleType name="AppearanceReasonCriminalType">
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
              <xsd:maxLength value="3"/>
            </xsd:restriction>
          </xsd:simpleType>
          <xsd:simpleType name="AppearanceResultCriminalType">
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
              <xsd:maxLength value="3"/>
            </xsd:restriction>
          </xsd:simpleType>
          <xsd:simpleType name="JustinNoType">
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
              <xsd:maxLength value="12"/>
            </xsd:restriction>
          </xsd:simpleType>
          <xsd:simpleType name="YesNoType">
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
              <xsd:enumeration value="Y"/>
              <xsd:enumeration value="N"/>
            </xsd:restriction>
          </xsd:simpleType>
          <xsd:simpleType name="DateType">
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
              <xsd:length value="21"/>
            </xsd:restriction>
          </xsd:simpleType>
          <xsd:simpleType name="TimeType">
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
              <xsd:length value="21"/>
            </xsd:restriction>
          </xsd:simpleType>
          <xsd:simpleType name="CourtRoomCdType">
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
              <xsd:maxLength value="6"/>
            </xsd:restriction>
          </xsd:simpleType>
          <xsd:simpleType name="AppearanceStatusType">
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
              <xsd:enumeration value="SCHD"/>
              <xsd:enumeration value="CNCL"/>
              <xsd:enumeration value="UNCF"/>
            </xsd:restriction>
          </xsd:simpleType>
          <xsd:simpleType name="SystemSeqNoType">
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
              <xsd:maxLength value="10"/>
            </xsd:restriction>
          </xsd:simpleType>
          <xsd:simpleType name="CourtLevelType">
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
              <xsd:enumeration value="P"/>
              <xsd:enumeration value="S"/>
              <xsd:enumeration value="A"/>
            </xsd:restriction>
          </xsd:simpleType>
          <xsd:simpleType name="CourtClassType">
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
              <xsd:enumeration value="A"/>
              <xsd:enumeration value="Y"/>
              <xsd:enumeration value="T"/>
              <xsd:enumeration value="F"/>
              <xsd:enumeration value="C"/>
              <xsd:enumeration value="M"/>
              <xsd:enumeration value="L"/>
              <xsd:enumeration value="R"/>
              <xsd:enumeration value="B"/>
              <xsd:enumeration value="D"/>
              <xsd:enumeration value="E"/>
              <xsd:enumeration value="G"/>
              <xsd:enumeration value="H"/>
              <xsd:enumeration value="N"/>
              <xsd:enumeration value="O"/>
              <xsd:enumeration value="P"/>
              <xsd:enumeration value="S"/>
              <xsd:enumeration value="V"/>
            </xsd:restriction>
          </xsd:simpleType>
          <xsd:simpleType name="AppearanceDurationType">
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
              <xsd:enumeration value="HRS"/>
              <xsd:enumeration value="DYS"/>
              <xsd:enumeration value="MTH"/>
              <xsd:enumeration value="MTHS"/>
              <xsd:enumeration value="YRS"/>
              <xsd:enumeration value="MIN"/>
              <xsd:enumeration value="WKS"/>
              <xsd:enumeration value="HR"/>
            </xsd:restriction>
          </xsd:simpleType>
          <xsd:simpleType name="CrownAgencyIdentifierType">
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
              <xsd:maxLength value="15"/>
            </xsd:restriction>
          </xsd:simpleType>
          <xsd:simpleType name="FileComplexityType">
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
              <xsd:enumeration value="SPC"/>
              <xsd:enumeration value="GA"/>
              <xsd:enumeration value="SA"/>
              <xsd:enumeration value="ALL"/>
              <xsd:enumeration value="SG"/>
            </xsd:restriction>
          </xsd:simpleType>
          <xsd:simpleType name="WitnessRoleType">
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
              <xsd:enumeration value="WIT"/>
              <xsd:enumeration value="CRN"/>
            </xsd:restriction>
          </xsd:simpleType>
          <xsd:simpleType name="HearingRestrictionType">
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
              <xsd:enumeration value="S"/>
              <xsd:enumeration value="D"/>
              <xsd:enumeration value="A"/>
              <xsd:enumeration value="G"/>
              <xsd:enumeration value="XXX"/>
            </xsd:restriction>
          </xsd:simpleType>
        	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="pcssCriminalSecure_PortType_getAppearanceCriminalApprMethodSecure">
    <wsdl:part name="parameters" element="tns1:getAppearanceCriminalApprMethodSecure">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pcssCriminalSecure_PortType_getFileDetailCriminalSecure">
    <wsdl:part name="parameters" element="tns1:getFileDetailCriminalSecure">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pcssCriminalSecure_PortType_getAppearanceCriminalSecureResponse">
    <wsdl:part name="parameters" element="tns1:getAppearanceCriminalSecureResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pcssCriminalSecure_PortType_getAppearanceCriminalCountSecure">
    <wsdl:part name="parameters" element="tns1:getAppearanceCriminalCountSecure">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pcssCriminalSecure_PortType_getAppearanceCriminalApprMethodSecureResponse">
    <wsdl:part name="parameters" element="tns1:getAppearanceCriminalApprMethodSecureResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pcssCriminalSecure_PortType_getFileDetailCriminalSecureResponse">
    <wsdl:part name="parameters" element="tns1:getFileDetailCriminalSecureResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pcssCriminalSecure_PortType_getAppearanceCriminalCountSecureResponse">
    <wsdl:part name="parameters" element="tns1:getAppearanceCriminalCountSecureResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pcssCriminalSecure_PortType_getAppearanceCriminalSecure">
    <wsdl:part name="parameters" element="tns1:getAppearanceCriminalSecure">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="pcssCriminalSecure_PortType">
    <wsdl:operation name="getAppearanceCriminalSecure">
      <wsdl:input message="tns1:pcssCriminalSecure_PortType_getAppearanceCriminalSecure">
    </wsdl:input>
      <wsdl:output message="tns1:pcssCriminalSecure_PortType_getAppearanceCriminalSecureResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAppearanceCriminalCountSecure">
      <wsdl:input message="tns1:pcssCriminalSecure_PortType_getAppearanceCriminalCountSecure">
    </wsdl:input>
      <wsdl:output message="tns1:pcssCriminalSecure_PortType_getAppearanceCriminalCountSecureResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAppearanceCriminalApprMethodSecure">
      <wsdl:input message="tns1:pcssCriminalSecure_PortType_getAppearanceCriminalApprMethodSecure">
    </wsdl:input>
      <wsdl:output message="tns1:pcssCriminalSecure_PortType_getAppearanceCriminalApprMethodSecureResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFileDetailCriminalSecure">
      <wsdl:input message="tns1:pcssCriminalSecure_PortType_getFileDetailCriminalSecure">
    </wsdl:input>
      <wsdl:output message="tns1:pcssCriminalSecure_PortType_getFileDetailCriminalSecureResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="JusticePCSSCriminal_wsProvider_pcssCriminalSecure_Binder" type="tns1:pcssCriminalSecure_PortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAppearanceCriminalSecure">
      <soap12:operation soapAction="JusticePCSSCriminal_wsProvider_pcssCriminalSecure_Binder_getAppearanceCriminalSecure" style="document"/>
      <wsdl:input>
        <soap12:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAppearanceCriminalCountSecure">
      <soap12:operation soapAction="JusticePCSSCriminal_wsProvider_pcssCriminalSecure_Binder_getAppearanceCriminalCountSecure" style="document"/>
      <wsdl:input>
        <soap12:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAppearanceCriminalApprMethodSecure">
      <soap12:operation soapAction="JusticePCSSCriminal_wsProvider_pcssCriminalSecure_Binder_getAppearanceCriminalApprMethodSecure" style="document"/>
      <wsdl:input>
        <soap12:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFileDetailCriminalSecure">
      <soap12:operation soapAction="JusticePCSSCriminal_wsProvider_pcssCriminalSecure_Binder_getFileDetailCriminalSecure" style="document"/>
      <wsdl:input>
        <soap12:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JusticePCSSCriminal.wsProvider.pcssCriminalSecure">
    <wsdl:port name="JusticePCSSCriminal_wsProvider_pcssCriminalSecure_Port" binding="tns1:JusticePCSSCriminal_wsProvider_pcssCriminalSecure_Binder">
      <soap12:address location="http://reeks.bcgov:5555/ws/JusticePCSSCriminal.wsProvider.pcssCriminalSecure/JusticePCSSCriminal_wsProvider_pcssCriminalSecure_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
